In [25]:
import pandas as pd
import numpy as np

In [52]:
energy = pd.read_excel('Energy Indicators.xls', skiprows=17,skipfooter=38)
energy = energy.drop(energy.columns[[0,1]], axis=1)
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
for col in energy:
    energy[col]=energy[col].replace('...',np.NaN)
energy['Energy Supply']*=1000000
energy.dropna()
energy['Country'].replace("Republic of Korea", "South Korea")
energy['Country'].replace("United States of America", "United States")
energy['Country'].replace("United Kingdom of Great Britain and Northern Ireland","United Kingdom")
energy['Country'].replace("China, Hong Kong Special Administrative Region","Hong Kong")
energy['Country'] = energy['Country'].str.replace(r" \(.*\)","")
energy['Country'] = energy['Country'].str.replace(r"([0-9]+)$","")
energy['Country'] = energy['Country'].str.strip()
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120